ACCESS_KEY
BOT_BRIDGE_URI
BOT_OWNER_ID
DATASYNC_POD_NAME
DISCORD_CLIENT_ID
DISCORD_PROXY
GAME_API_NEEDED
GAME_CLIENT_URL
GIPHY_API_KEY
GOOG_CLIENT_ID
GOOG_CLIENT_SECRET
GOOG_REDIRECT_URI
GOOGLE_API_KEY
LOCAL_QUE_KEY
MONGO_AUTH_DB
MONGO_DB
MONGO_HOST
MONGO_PASS
MONGO_USER
MONGO_REPSET
NUM_JOBS
OAUTH_CLIENT_CACHE
OPEN_WEATHER_API_KEY
PRIVATE_BOT
PRIVATE_WORKER
QUE_PASS
QUE_PORT
QUE_SERVER
REDIS_PASS
REDIS_PORT
REDIS_SERVER
SECRET_KEY
SOCKET_EMIT_TIMEOUT
WEBRENDER_URI
WORKER_NAME
WORKER_TYPES
